@media (max-width: 575.98px) {
    html {
      display: flex;
      min-width: 100vh;
    }

    .container {
      justify-content: center;
      align-content: center;
      margin: auto;
      left: 17em;
      top: -16em;

    }

    .text {
      text-align: center;
      top:25em;
      left: -2em;
    }
}